{% extends 'base.html' %}

{% block content %}
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGUtUq8CTycbzDRU9n4ukDc67KEhVpv9wr4LXxDJb70zMtvYqpxAIoRJTDfy_blzcXyQU&usqp=CAU", height="50", width="50">
            Centaur Library
        </a>
        <a href="{% url 'main:logout' %}">
            <button style="background-color: #A07300; color: #fff; padding: 5px 15px; border: none; border-radius: 5px;">
                Logout
            </button>
        </a>
        </div>
    </nav>
    <p>{{ myname }}</p>
    <p>{{ myclass }}</p>
    <h1>Centaur Library</h1>

    <img src="https://target.scene7.com/is/image/Target/GUEST_5ce8a240-76c7-43b9-8f34-3d5f556ea6e8?wid=488&hei=488&fmt=pjpeg"width="200" height="200">
    <h5>Judul Buku: </h5>
    <p>{{ title }}</p> 
    <h5>Deskripsi: </h5>
    <p>{{ description }}</p> 
    <h5>Jumlah Stok: </h5>
    <p>{{ amount }}</p>

    <table>
        <tr>
            <th>Title</th>
            <!-- <th>Price</th> -->
            <th>Description</th>
            <th>Stock</th>
            <th>Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

        {% for product in products %}
            <tr>
                <td>{{product.title}}</td>
                <!-- <td>{{product.price}}</td> -->
                <td>{{product.description}}</td>
                <td>
                <a href="{% url 'main:decrease' product.id %}">
                    <button>-</button>
                </a>
                {{product.amount}}
                <a href="{% url 'main:increase' product.id %}">
                    <button>+</button>
                </a>
                </td>
                <td>{{product.date_added}}</td>
                <td>
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'main:delete' product.id %}">
                        <button>Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
{% endblock content %}
